/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: rgb(150, 213, 231);
  font-weight: 700;
}

header a {
  color: #333;
  text-decoration: none;
}

header a:hover {
  color : white
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav > ul {
  display: flex;
}

.nav > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 22px;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.home .announcement-button {
  max-width: 800px;
  width: 100%;
  padding: 12px;
}

.announcement-details {
  max-width: 1000px;
  margin-top: 20px;
  border: solid;
}

.announcement-header {
  background-color: grey;
}

.announcement-header .title {
  width: 50%;
  display: inline-block;
}

.announcement-header .time {
  width: 50%;
  display: inline-block;
  text-align: right;
}